.idea
**.log
**.svg
**.png
**.jpg
**.jpeg
**/config.ini
main.py
summary
out
plots
data
logs
*.o
*.jam.*
*.gch
*.tsv
eschenmoser_data/
**__pycache__/
**/StochKit/custom_drivers/
**/StochKit/bin/

## JUST FOR RELEASE
StochKit/
dgDynamic-*.zip
